.top-title-sekkachi {
    font-size: 3.5rem;
    margin: 2rem 2rem 0 5rem ;
    transform: rotate(-5deg);
}

.top-title-daiichiya {
    font-size: 4rem;
    text-align: right;
    margin: 0 5rem 0 0;
}

.top-title {
    margin: auto;
    text-align: center;
    font-size: 7rem;
}

.top-buttons {
    display: flex;
    flex-direction: column;
}

button {
    margin: auto;
}

.top-background {
    height: 90vh;
    background-image: url('./img/top.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.top-font {
    color: white;
}

.top-p {
    font-size: 1.2rem;
}

.outlined-text {
    color: black;
    text-shadow:
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff;
}