.game-clear-popup {
    position: fixed;
    top: 30%;
    left: 30%;
    height: 300px;
    width: 500px;
    background-color: white;
    opacity: 1;
    padding: 0 10px;
    z-index: 1000;
    animation: slideUpSaveButtonPopup 0.5s ease-out;
}

@keyframes slideUpSaveButtonPopup {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}