.game-background {
    height: 820px;
    background-image: url('./img/game.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
}

.game-left-window {
    opacity: 90%;
    border: solid;
    background-color: white;
    height: 95%;
    width: 50%;
    margin: 20px 0 20px 10px;
}

.game-right-window {
    height: 100%;
    width: 50%;
    padding: 20px 5px 5px 5px;
}

.game-right-window > *:not(:first-child) {
    margin-top: 10px;
}

.game-right-upper-window {
    height: 20%;
    width: 100%;
    opacity: 90%;
    border: solid;
    background-color: white;
}

.game-right-middle-window {
    height: 60%;
    width: 100%;
    opacity: 90%;
    border: solid;
    background-color: white;
    text-align: center;
    overflow-y: auto;

}

.game-right-bottom-window {
    height: 15%;
    width: 100%;
    opacity: 90%;
    border: solid;
    background-color: white;
}

.click-moon {
    width: 100%;
    margin: 50px 0;
    clip-path: circle(33% at center);
}

.click-moon:hover {
    transform: scale(1.1);
}

.remaining-time {
    height: 25%;
    margin: 5px;
    background-color: rgb(204, 201, 201);
    text-align: center;
    color: rgb(185, 246, 185);
    text-shadow: 
    2px 2px 2px #000,
    -2px -2px 2px #000,
    2px -2px 2px #000,
    -2px 2px 2px #000;  
}

.decreases-click {
    height: 5%;
    margin: 5px;
    background-color: rgb(204, 201, 201);
    text-align: center;
    color: rgb(185, 246, 185);
    text-shadow: 
    2px 2px 2px #000,
    -2px -2px 2px #000,
    2px -2px 2px #000,
    -2px 2px 2px #000;  
}

.game-oshinagaki {
    font-size: 2rem;
    margin: 0;
}

.game-name-space {
    background-color: rgb(204, 201, 201);
    text-align: center;
    height: 40%;
    margin: 10px;
    line-height: 60px;
    font-size: 1.4rem;
    color: rgb(185, 246, 185);
    text-shadow: 
    2px 2px 2px #000,
    -2px -2px 2px #000,
    2px -2px 2px #000,
    -2px 2px 2px #000;  
}

.game-remaining-time-amount {
    background-color: rgb(204, 201, 201);
    text-align: center;
    height: 40%;
    margin: 10px;
    line-height: 60px;
    font-size: 1.2rem;
    color: yellow;
    text-shadow: 
    1px 1px 1px #000,
    -1px -1px 1px #000,
    1px -1px 1px #000,
    -1px 1px 1px #000;  
}

.remaining-time-counter {
    font-size: 1.5rem;
    margin: 10px 0 0 0;
    color: yellow;
    text-shadow: 
    2px 2px 2px #000,
    -2px -2px 2px #000,
    2px -2px 2px #000,
    -2px 2px 2px #000;  
}

.remaining-time-header {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: yellow;
    text-shadow: 
    2px 2px 2px #000,
    -2px -2px 2px #000,
    2px -2px 2px #000,
    -2px 2px 2px #000;  
}

.button-center {
    display: flex;
    justify-content: center;
}

@keyframes floatUp {
    0% { 
        color: rgb(246, 153, 153);
        transform: translateY(0);
        opacity: 1;
    }
    100% { 
        transform: translateY(-50px); 
        opacity: 70%;
    }
}

.animatedNumber {
    position: absolute;
    font-size: 2rem;
    text-align: center;
    animation: floatUp 2s ease-out;
    text-shadow: 
    2px 2px 2px #000,
    -2px -2px 2px #000,
    2px -2px 2px #000,
    -2px 2px 2px #000;  
}

.savebutton-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 4rem;
    display: block;
    padding-top: 1rem;
    width: 200px;
    text-align: center;
    background-color: skyblue;
    border: 1px solid black;
    z-index:100;
    animation: slideUpSaveButtonPopup 0.5s ease-out;
}

@keyframes slideUpSaveButtonPopup {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}