.purchase-information-buttons {
    display: flex;
    position: relative;
    width: 100%;
}

.purchase-title {
    margin: 0;
    font-size: 2.3rem;
}

.purchase-information-buttons > * {
    margin-left: 10px;
    margin-right: 10px;
}

.purchase-input {
    width: 90%;
    height: 3rem;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: right;
}

.display-price-box {
    display: flex;
}

.display-price-description {
    font-size: 1.2rem;
    text-align: left;
    width: 50%;
    padding-left: 30px;
}
.display-price-price {
    width: 50%;
    text-align: right;
    font-size: 1.2rem;
    padding-right: 20px;
}

.purchase-information {
    display: flex;
    padding: 5px;
    border: 1px solid;
    margin: 5px;
}

.purchase-information-description {
    width: 50%;
    text-align: left;
}

.purchase-image {
    width: 50%;
    border: 1px solid;
}

.purchase-information-item-description {
    display: none;
    position: absolute;
    text-align: center;
    font-size: 1rem;
    z-index: 10;
    top: 305px;
    height: 185px;
    width: 365px;
    background-color: bisque;
    opacity: 90% ;
}

.purchase-information:hover .purchase-information-item-description {
    display: block;
}

.purchase-sold-out-banner {
    position: absolute;
    top: 360px;
    right: 220px;
    font-size: 3rem;
    background-color: white;
    color: red;
    border: 6px solid red;
    padding: 5px;
    transform: rotate(-15deg);
}