.item-image {
    height: 100%;
    width: 100%;
    border: solid;
}

.item-bar {
    display: flex;
    background-color: rgb(204, 201, 201);
    text-align: center;
    margin: 10px 0;
    border: thick double #b5b8f6;
    border-width: 3px;
    transition: all 0.2s ease 0s;
}

.item-bar:hover {
    transform: translateY(-0.1875em);
}

.item-box {
    width: 25%;
}

.number-of-item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border: solid;
    background-color: rgb(233, 233, 190);
}

.itembar-item-name {
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 1.1rem;
}