.toast-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 7rem;
    display: block;
    padding: 10px;
    padding-left: 30px;
    width: 300px;
    text-align: left;
    font-size: 1.0rem;
    background-color: black;
    border: 1px solid black;
    box-shadow: inset 0 0 0 4px white;
    color: white;
    z-index:100;
    animation: slideUpSaveButtonPopup 0.5s ease-out;
}

@keyframes slideUpSaveButtonPopup {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}

