.modal {
    position: fixed;
    top: -100%;
    left: 50%;
    height: 500px;
    width: 500px;
    transform: translateX(-50%);
    background-color: white;
    opacity: 0;
    padding: 0 10px;
    z-index: 1000;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    to {
        top: 20%;
        opacity: 1;
    }
}

.modal-close-button {
    float: right;
    font-size: 1.5rem;
    margin: 0;
    width: fit-content;
    color: rgb(176, 176, 176);
}

.modal-close-button:hover {
    color: rgb(74, 74, 74);
    cursor: pointer;
}

.blank-space {
    height: 2rem;
}

.modal-text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-link {
    display: block;
    float: right;
    font-size: 0.8rem;
    color: rgb(145, 145, 249);
    width: fit-content;
    text-align: right;
    margin-right: 50px;
    margin-top: 0;
}

.modal-link:hover {
    color: rgb(6, 6, 241);
}
