
.outlined-text {
    color: black;
    font-weight: bold;
    text-shadow:
        -1.5px -1.5px 0 #fff,
        1.5px -1.5px 0 #fff,
        -1.5px 1.5px 0 #fff,
        1.5px 1.5px 0 #fff;
}

.outlined-text-red {
    color: black;
    font-weight: bold;
    text-shadow:
        -1.5px -1.5px 0 #facdcd,
        1.5px -1.5px 0 #facdcd,
        -1.5px 1.5px 0 #facdcd,
        1.5px 1.5px 0 #facdcd;
}