.synopsis-background {
    height: 820px;
    background-image: url('/img/synopsis.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.mt {
    margin-top: 1.5rem;
}

.synopsis-large-p {
    font-size: 4rem;
    text-align: right;
    margin:auto;
    font-weight: bold;
}

.synopsis-p {
    font-size: 1.5rem;
    text-align: left;
    margin: auto;
}

.synopsis-text {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.return-button {
    display: inline-block;
    box-shadow: 0 0 0 3px #fff;
}

.return-button-parent {
    display:flex;
    justify-content: right;
    padding-right: 20px;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.shaking-text {
    display: inline-block; 
    animation: shake 0.8s infinite; 
}
